
body {
    padding-top: 80px;
    padding-bottom: 5px;
    background: #CBCCCC;  
}

.navbar {
    background-color: #676767;
    padding-top: 3px;
}

.navbar-right {
    margin-top: 4px;
}


#navlinks a:hover, #cartlink:hover {
    color: #E2222A;
}

#logged-in-links button:hover {
    text-decoration: none;
    color: #E2222A;
}

#search {
    margin-right: 0px;
    width: 400px;
}

#searchbar {
    margin-top: 12px;
}

#logo-link {
    padding-top: 2px;
    padding-left: 30px;
    
}

#footer {
    background-color: #333433;
    padding-top: 10px;
    color: aliceblue;
    padding-bottom: 20px;
}
#pagebreak {
    margin-bottom: 8px;
    background-color: #CBCCCC;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
#front-page-carousel
{
   width: 1440px;
   margin-bottom: 15px;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100px;
}

.multi-item-carousel .carousel-inner .item {
    transition: 500ms ease-in-out left;
}

.carousel-inner .active .left {
    left: -33%;
}

.active .right {
    left: 33%;
}

.carousel-inner .next {
    left: 33%;
}

.carousel-inner .prev {
    left: -33%;
}

.carousel-control .right {
    background-image: none;
}

.carousel-control .left {
    background-image: none;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Front page look */
.wrapper
{
    background-color: #676767;
    height: 1100px;
    overflow: hidden;
    margin-left: 15px;
}

.first
{
    padding-top: 5px; /*gmg*/
    padding-left: 22px;
    float: left;
}

.second
{
    padding-left: 25px;
    padding-right: 1px; /*gmg*/
    float: left;
}

.second h1
{
    color: white;
}

.book-list
{
    background-color: #333433;
    max-width: 230px;
    height: 450px;
    padding-left: 5px;
}

.book-list a 
{
   color: white;
   text-decoration: none;
   font-size: 18px;
   margin: 20px;
}

.FrontPageBookList a:hover
{
   color: #E2222A;
}

.FrontPageBookListGenre a 
{
   color: white;
   text-decoration: none;
   font-size: 16px;
   margin: 20px;
   padding-left: 30px;
}

.FrontPageBookListGenre a:hover
{
   color: #E2222A;
}

#our-books
{
    color: #CBCCCC;
    text-align: center; 
    padding-top: 15px;
}

#genre
{
    color: white;
    font-size: 18px;
    padding-left: 20px;
}

/* Thumbnail*/
.book-list-two
{
    background-color: #CBCCCC;
    padding-left: 15px; 
    padding-right: 30px; 
    padding-top: 20px;
    width: 850px; /*hmmm*/
    height: 980px;
    overflow:scroll;
    display:block;
    min-height:100%;
}

.thumbnail 
{
    height: 300px;
    width: 192px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #555657; 
    padding-bottom: 5px;
}

.thumbnail a
{
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding-top: 20px;
}

.text-tumb
{
    padding-top: 50px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.thumbnail a:hover, thumb-title:hover
{
    text-decoration: none;
    color: #E2222A;
}

.img-thumbnail
{
    max-height: 180px;
    max-width: 180px;
}

.thumb-title
{
    text-align: center;
    font-size: 16px;
    font: bold;
}

/* Login Page*/
#form-login-size {
    margin-bottom:230px;
    height: 240px;
}

/* Register Page*/
#form-register-size {
    margin-bottom:230px;
    height: 240px;
}

/* Account Info Page*/
#acc-info-img2 {
    height: 300px;
    width: 170px;
}

#account-info1 {
    width: 350px;
}

#account-info2 {
    height: 420px;
}
    width: 350px;
}

#account-info3 {
    width: 350px;
}

/* Book details*/
#row1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#book-description {
    padding-top: 20px;
    width: 600px;
    font-size: 16px;
}
