@model BookCave.Models.InputModels.BillingAndShippingInputModel
<form action="" method="POST">
    <fieldset>
        <legend>Billing Address</legend>
        <label asp-for="BillingAddress.Street">Street name</label>
        <input type="text" asp-for="BillingAddress.Street">
        <br/>

        <label asp-for="BillingAddress.HouseNum">House number</label>
        <input type="number" asp-for="BillingAddress.HouseNum">
        <br/>

        <label asp-for="BillingAddress.City">City</label>
        <input type="text" asp-for="BillingAddress.City">
        <br/>

        <label asp-for="BillingAddress.Country">City</label>
        <input type="text" asp-for="BillingAddress.Country">
        <br/>

        <label asp-for="BillingAddress.ZipCode">Zip code</label>
        <input type="number" asp-for="BillingAddress.ZipCode" >
        <br/>
    </fieldset>
    <fieldset>
        <legend>Shipping Address</legend>
        <label asp-for="ShippingAddress.Street">Street name</label>
        <input type="text" asp-for="ShippingAddress.Street">
        <br/>

        <label asp-for="ShippingAddress.HouseNum">House number</label>
        <input type="number" asp-for="ShippingAddress.HouseNum">
        <br/>

        <label asp-for="ShippingAddress.City">City</label>
        <input type="text" asp-for="ShippingAddress.City">
        <br/>

        <label asp-for="ShippingAddress.Country">City</label>
        <input type="text" asp-for="ShippingAddress.Country">
        <br/>

        <label asp-for="ShippingAddress.ZipCode">Zip code</label>
        <input type="number" asp-for="ShippingAddress.ZipCode" >
        <br/>
    </fieldset>
    <a asp-controller="Cart" asp-action="CartView" class="btn btn-primary">Prev</a>

    <input type="submit" class="btn btn-primary" value="Next">
</form>






