@model BookCave.Models.InputModels.AddressInputModel
<form action="" method="POST">
    <label asp-for="Street">Street name</label>
    <input type="text" asp-for="Street">
    <br/>

    <label asp-for="HouseNum">House number</label>
    <input type="number" asp-for="HouseNum">
    <br/>

    <label asp-for="City">City</label>
    <input type="text" asp-for="City">
    <br/>

    <label asp-for="Country">Country</label>
    <select name="Country" asp-for="Country">
        <option value="" disabled selected>Select a country</option>
        <option value="Iceland">Iceland</option>
        <option value="UK">UK</option>
        <option value="Canada">Canada</option>
        <option value="Wakanda">Wakanda</option>
    </select>
    <br/>

    <label asp-for="ZipCode">Zip code</label>
    <input type="number" asp-for="ZipCode">
    <br/>


    <a asp-controller="Cart" asp-action="CartView" class="btn btn-primary">Proceed to checkout</a>

    
    <input type="submit" class="btn btn-primary">
</form>