@{
    ViewData["Title"] = "Error Page";
}

<div class="container" id="purc-error-size">
    <h2>We are so sorry!</h2>

    <h3>Something went wrong with your purchase!</h3>

    <h3>Hopefully this issue is resolved now.</h3>
    <h3>Please try again!</h3>
</div>