@model BookCave.Models.InputModels.AddressInputModel

<form asp-controller="Account" asp-action="Address" method="POST">
    <label>Street:</label>
    <br>
    <input class="form-control b-S-input-width" type="text" asp-for="Street" placeholder="Street">
    <span class="color-red" asp-validation-for="Street"></span>
    <br>
    
    <label>House number:</label>
    <br>
    <input class="form-control b-S-input-width" type="text" asp-for="HouseNum" placeholder="House number">
    <span class="color-red" asp-validation-for="HouseNum"></span>
    <br>

    <label>City:</label>
    <br>
    <input class="form-control b-S-input-width" type="text" asp-for="City" placeholder="City">
    <span class="color-red" asp-validation-for="City"></span>
    <br>

    <label>Zip code:</label>
    <br>
    <input class="form-control b-S-input-width" type="text" asp-for="ZipCode" placeholder="Zip code">
    <span class="color-red" asp-validation-for="ZipCode"></span>
    <br>

    <label>Country:</label>
    <br>
    <select asp-for="Country" class="form-control b-S-input-width">
        <option value="" disabled selected >Select a country</option>
        <option value="Iceland">Iceland</option>
        <option value="United-Kingdom">United Kingdom</option>
        <option value="United-States">United States</option>
        <option value="Wakanda">Wakanda</option>
    </select>
    <span class="color-red" asp-validation-for="Country"></span>
    <br>

    <input class="btn btn-default" type="submit" value="Submit">
</form> 