<h1>Book successfully added</h1>

<a asp-controller="Account" asp-action="Staff" class="btn btn-primary">Back to staff</a>
<a asp-controller="Account" asp-action="AddBook" class="btn btn-primary">Add another book</a>