<h1>Book has been deleted</h1>

<a asp-controller="Account" asp-action="Staff" class="btn btn-danger">Back to staff</a>
<a asp-controller="Account" asp-action="SearchForBook" class="btn btn-danger">Back to search</a>