@model List<BookCave.Models.ViewModels.OrderViewModel>

@foreach (var order in @Model)
{
    <fieldset>
    <legend>Order</legend>
    @foreach (var book in order.OrderItems)
    {
        <span>@book.Title, by @book.Author, Copies: @book.Quantity.</span>
    }
    </fieldset>
}