@model BookCave.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container" id="form-login-size">
    <h1>Login</h1>
    <form asp-action="Login" asp-controller="Account" class="form-horizontal">
        <div class="form-group">
            <input type="email" asp-for="Email" class="form-control" placeholder="Enter email address..." />
        </div>
        <div class="form-group">
            <input type="password" asp-for="Password" class="form-control" placeholder="Password..." />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" asp-for="RememberMe" /> Remember me
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </form>
</div>