<div id="staff-book-search">
<h1>Search for a book to delete</h1>

<form action="" method="POST">
    <div class="form-group form-inline" id="searchbar">
        <input class="form-control" type="text" id="search" name="search" placeholder="Title, Author or Genre..">
        <button class="btn btn-default" type="submit" id="spyglass"><i class="glyphicon glyphicon-search"></i></button>
    </div>
</form>
<a asp-controller="Account" asp-action="Staff" class="btn btn-primary">Back to Staff functions</a>
</div>