@{
    ViewData["Title"] = "Staff Functions";
}

<div class="container" id="staff-func-size">
    <h1>Staff Functions</h1>
    <div class="container">
        <h5 class="staff-acc-text">Add a book to the system</h5>
        <a asp-controller="Account" asp-action="AddBook" class="btn btn-danger">Add a book</a><br><br>
        
        <h5 class="staff-acc-text">Delete a book from the system</h5>
        <a asp-controller="Account" asp-action="SearchForBook" class="btn btn-danger" >Remove a book</a>
    </div>
</div>
