<h1>Staff Functions</h1>
<a asp-controller="Account" asp-action="AddBook" class="btn btn-primary">Add a book</a>
<a asp-controller="Account" asp-action="SearchForBook" class="btn btn-primary">Remove a book</a>
