@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@if(SignInManager.IsSignedIn(User))
{
    <div id="logged-in-links">
        <form asp-action="LogOut" asp-controller="Account" method="POST">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                </li>
            </ul>
        </form>

        <form asp-action="Information" asp-controller="Account" method="GET">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn btn-link navbar-btn navbar-link">Profile</button>
                </li>
            </ul>
        </form>
        @if(User.IsInRole("Staff")) 
        {
            <form asp-action="Staff" asp-controller="Account" method="GET">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="btn btn-link navbar-btn navbar-link">Staff</button>
                    </li>
                </ul>
            </form>
        }
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right" id="navlinks">
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}